// 使得DOM中利用vue变量动态显示的变量在渲染成功之前不显示，否则会短暂闪过{{XXXXX}}
[v-cloak] {display: none;}

.fs-10 {font-size: 10px;}
.fs-12 {font-size: 12px;}
.fs-14 {font-size: 14px;}
.fs-16 {font-size: 16px;}
.fs-18 {font-size: 18px;}
.fs-20 {font-size: 20px;}

.clr-r {color: red;}

.mt-10 {margin-top: 10px;}
.bold {font-weight: bold;}
.mask56{width:100%;height:100%;position:fixed;background:rgba(0,0,0,0.56);z-index:99999;top:0;left:0}

// 自动刷新页面组件
#btn-refresh {
  cursor:pointer;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 100;
  .value {
    margin-left: 4px;
    font-size: 18px;
    line-height: 20px;
    font-family: "Times New Roman",serif;
  }
  #progress-bar {
    width: 100%;
    background: red;
    position: absolute;
    bottom: 0;
    z-index: -2;
    transition: height linear;
  }
  .full-height {height: 100%}
  .zero-height {height: 0}
}

// 通用顶部bar 组件
#top-bar {
  width: 100%;
  position: relative;
  #top-bar-front {
    width: 100%;
    height: 60px;
    padding: 0 60px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 2px 2px #d0d0d0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #top-bar-left {
    }
    #top-bar-right {
    }
  }
  #top-bar-blank {
    width: 100%;
    height: 60px;
  }
}

// 菜单列表
#menu-part {
  position: fixed;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  #menu-box {
    margin-top: 60px;
    flex-grow: 1;
    width: 375px;
    overflow-y: scroll;
    box-sizing: border-box;
    #menu-body {
      margin: 30px 0 50px 60px;
      display: flex;
      flex-direction: column;
      .menu-item {
        font-size: 18px;
        line-height: 30px;
      }
      .menu-item:hover {
        transition: all 0.3s;
        text-shadow: rgba(0, 0, 0, 0.9) 1px 1px 3px;
        cursor: pointer;
      }
    }
  }
}

// 正文样式
#text-part {
  width: 100%;
  display: flex;
  #text-left-blank {
    width: 375px;
    flex-shrink: 0;
  }
  #text-box {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    #text-body {
      width: 660px;
      display: flex;
      flex-direction: column;
    }
  }
}

// image-view 图片查看组件样式
#image-view-block {
  margin: 10px 0;
  #small-pic {
    width: 300px;
    max-height: 300px;
  }
  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    #full-pic {
      max-width: 100%;
      border: 3px solid #ddd;
      height: auto;
    }
    #download-btn {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: white;
      position: absolute;
      right: 30px;
      top: 50%;
      box-shadow: 10px 10px 10px black;
      display: flex;
      justify-content: center;
      align-items: center;
      .down-arrow {
        margin-top: 40px;
        border: 30px solid;
        border-color: #999 transparent transparent;
      }
    }
  }
}

// 可开关展示栏样式
#display-board-block {
  display: flex;
  flex-direction: column;
  width: 200px;
  .header {
    width: 100%;
    height: 30px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .text {
      color: #333;
      font-size: 18px;
      margin-left: 10px;
      font-family: "Times New Roman",serif;
    }
    .bottom-up {
      right: 10px;
      position: absolute;
      bottom: 7px;
      border: 15px solid;
      border-color: transparent transparent #999;
    }
    .bottom-down {
      right: 10px;
      position: absolute;
      top: 7px;
      border: 15px solid;
      border-color: #999 transparent transparent;
    }
  }
  .content {
    border-top: 1px solid #aaa;
    width: 100%;
    //background: linear-gradient(0deg, rgba(255, 255, 255, 0), white 20px);
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    .list-item {
      margin: 10px 0 0 10px;
      list-style-type: disc;
      list-style-position: inside;
      font-family: "Times New Roman",serif;
      transition: all 0.5s;
      font-size: 16px;
    }
    .list-item:hover {
      transition: all 0.5s;
      text-shadow: rgba(51, 51, 51, 0.7) 1px 1px 7px;
    }
  }
  .fade-up-enter, .fade-up-leave-to {
    transform: translateY(-20px) scale(0.3,0.3);
    opacity: 0;
  }
  .fade-up-enter-active, .fade-up-leave-active {
    transition: all 0.5s;
  }
  .fade-up-enter-to, .fade-up-leave {
    //bottom: 10px;
    //opacity: 1;
  }

  .fade-down-enter, .fade-down-leave-to {
    transform: translateY(20px) scale(0.3,0.3);
    opacity: 0;
    width: 0;
  }
  .fade-down-enter-active, .fade-down-leave-active {
    transition: all 0.5s;
  }
  .fade-down-enter-to, .fade-down-leave {
    //bottom: 10px;
    //opacity: 1;
  }

  .switch-content-enter, .switch-content-leave-to {
    max-height: 0;
    opacity: 0;
  }
  .switch-content-enter-active, .switch-content-leave-active {
    transition: all 0.5s;
  }
  .switch-content-enter-to, .switch-content-leave {
    max-height: 200px;
    //opacity: 1;
  }
}