<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="shortcut icon" href="source/favicon.ico">
  <link rel="stylesheet" type="text/css" href="lib/init.css"/>
  <link rel="stylesheet" type="text/css" href="lib/base.css"/>
  <link rel="stylesheet" type="text/css" href="components/components.css"/>
  <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">

  <link rel="stylesheet" type="text/css" href="index.css"/>
</head>

<body>
<video loop="loop" autoplay="autoplay" muted="muted" class="bg-video" id="bg-anime">
  <source src="//static.biligame.com/pcr/gw/pc/images/vbg.mp4?6f28534f" type="audio/mp4">
  <source src="//static.biligame.com/pcr/gw/pc/images/vbg.webm?9980dfe1" type="video/webm">
</video>
<div id="index-body" class="page-body" v-cloak>
  <back2main></back2main>
  <switch-bg-anime></switch-bg-anime>
  <Card class="card-style">
    <h2 slot="title">合刀计算器</h2>
    <i-input class="mb-10" v-model="combineCalcInput.remainH">
      <span slot="prepend">剩余血量</span>
    </i-input>
    <i-input class="mb-10" v-model="combineCalcInput.damageA">
      <span slot="prepend">刀一伤害</span>
    </i-input>
    <i-input class="mb-10" v-model="combineCalcInput.damageB">
      <span slot="prepend">刀二伤害</span>
    </i-input>
    <p>
      <span>一先二尾</span>
      <span class="ans">{{combineCalcRes[0]}}</span>
      <span>秒</span>
    </p>
    <p>
      <span>二先一尾</span>
      <span class="ans">{{combineCalcRes[1]}}</span>
      <span>秒</span>
    </p>
  </Card>
  <Card class="card-style">
    <h2 slot="title">进度计算器</h2>
    <p>卡片内容</p>
  </Card>
  <Card class="card-style">
    <h2 slot="title">骑士君经验计算器</h2>
    <Icon size="25" type="md-help-circle" slot="extra" color="#2db7f5"></Icon>
    <i-input class="mb-10" v-model="expCalcInput.curLvl">
      <span slot="prepend">当前等级</span>
    </i-input>
    <i-input class="mb-10" v-model="expCalcInput.curExp">
      <span slot="prepend">当前经验</span>
    </i-input>
    <i-input class="mb-10" v-model="expCalcInput.tarLvl">
      <span slot="prepend">目标等级</span>
    </i-input>
    <p>
      <span>需要经验</span>
      <span class="ans">--</span>
      <span>升级回体</span>
      <span class="ans">--</span>/<span class="ans">--</span>/<span class="ans">--</span>
    </p>
    <p>
      <Checkbox v-model="expCalcInput.dailyPow2">日常体力双倍</Checkbox>
      <Checkbox v-model="expCalcInput.dailyExp2">日常经验双倍</Checkbox>
      <Checkbox v-model="expCalcInput.dailyPow2">公会战日常</Checkbox>
    </p>
    <p>
      <i-input>
        <span slot="prepend">碎石</span>
        <span slot="append">管</span>
      </i-input>
    </p>
    <p>
      <span>日产体力</span>
      <span class="ans">--</span>
      <span>预估需要</span>
      <span class="ans">--</span>
      <span>天</span>
    </p>
  </Card>
  <Card class="card-style">
    <h2 slot="title">角色经验计算器</h2>
    <p>卡片内容</p>
  </Card>
  <Card class="card-style">
    <h2 slot="title">其他工具</h2>
    <i-button class="mb-10" to="" target="_blank" long>公会战记录</i-button>
    <i-button class="mb-10" to="" target="_blank" long>离职证明生成器</i-button>
  </Card>
</div>
</body>

<!--<script src="//vuejs.org/js/vue.min.js"></script>-->
<script src="//cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
<!--<script src="//unpkg.com/vue/dist/vue.js"></script>-->
<script src="//unpkg.com/view-design/dist/iview.min.js"></script>

<script type="text/javascript" src="lib/base.js"></script>
<script type="text/javascript" src="components/components.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>
