@import "lib/base";
html {
	background: rgba(64, 64, 80, 0.9);
}
body {
	background: transparent;
}
#index-body {
	background: transparent;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	align-content: flex-start;
	color: #eeeeee;
	.card-style {
		min-width: 300px;
		margin: 80px 50px 0 50px;
		font-size: 16px;
		flex-shrink: 0;
		background: transparent;
		// background: rgba(32, 32, 32, 0.5);
		// opacity: 0.85;
		input {
			color: #eeeeee;
			background: rgba(238, 238, 238, 0.2);
		}
		.ans {
			font-weight: bold;
			margin: 0 5px;
			color: $color-lr;
		}
		p {
			display: flex;
			align-items: center;
			margin-bottom: 5px;
		}
	}
}
