html, body {
  height: 100%; }

div, span, p {
  user-select: none; }

#index-body {
  background-image: url(https://img.nga.178.com/attachments/mon_202005/14/-4my65Q5-5nxjZvT3cS1hc-u0.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
  flex-wrap: wrap; }
  #index-body .loadingMask {
    width: 100%;
    height: 100%;
    background: #878787;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; }
    #index-body .loadingMask .circle-image-1 {
      width: 25%;
      height: 0;
      padding-bottom: 25%;
      position: absolute;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.8));
      border-radius: 50%;
      animation-name: loadingCircle;
      animation-duration: 5s;
      animation-iteration-count: infinite; }
    #index-body .loadingMask .circle-image-2 {
      width: 20%;
      height: 0;
      padding-bottom: 20%;
      position: absolute;
      background: #878787;
      border-radius: 50%; }
    #index-body .loadingMask .dot-1, #index-body .loadingMask .dot-2, #index-body .loadingMask .dot-3 {
      position: relative;
      animation-name: dotJumping;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
    #index-body .loadingMask .dot-2 {
      animation-delay: 400ms; }
    #index-body .loadingMask .dot-3 {
      animation-delay: 800ms; }

@keyframes loadingCircle {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }
@keyframes dotJumping {
  from {
    top: 0; }
  30% {
    top: -10px; }
  60% {
    top: 0; }
  to {
    top: 0; } }
.gen-sit-box, .combine-calc, .history-log {
  width: 340px;
  height: 350px;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
  margin: -100px 50px 0 50px;
  font-size: 16px;
  box-shadow: black 10px 10px 10px;
  border-radius: 20px;
  border: #999999 solid 2px; }
  .gen-sit-box div, .combine-calc div, .history-log div {
    margin: 2px 0; }
  .gen-sit-box .btn, .combine-calc .btn, .history-log .btn {
    border: 1px solid black;
    padding: 1px 2px;
    font-size: 15px;
    text-align: center; }
  .gen-sit-box .btn:hover, .combine-calc .btn:hover, .history-log .btn:hover {
    background: black;
    color: white;
    box-shadow: rgba(255, 0, 0, 0.6) 0 0 10px;
    transition: all 0.3s; }

.today-detail {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .today-detail .mob-box {
    height: 60%;
    width: 15%;
    background: white;
    box-shadow: black 10px 10px 20px;
    flex-shrink: 0;
    overflow: auto;
    display: flex;
    flex-direction: column; }
    .today-detail .mob-box .title {
      width: 100%;
      border: 1px solid black;
      box-sizing: border-box;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0; }
    .today-detail .mob-box .log-item {
      width: 100%;
      border: 1px solid black;
      box-sizing: border-box;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
      position: relative; }

.damage-figure {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: space-around;
  align-items: center; }
  .damage-figure .figure-box {
    background: white;
    box-shadow: black 10px 10px 20px;
    width: 80%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto; }
    .damage-figure .figure-box .display-item {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .damage-figure .figure-box .display-item .name-box {
        width: 100px;
        margin: 0 5px; }
      .damage-figure .figure-box .display-item .damage-bar {
        color: white;
        height: 70%;
        background: red;
        font-size: 70%;
        border: 1px solid black;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center; }

.showFigure-enter-active, .showFigure-leave-active {
  transition: all 0.5s; }

.showFigure-enter, .showFigure-leave-to {
  height: 40%;
  opacity: 0; }
