[v-cloak] {
  display: none; }

html, body {
  height: 100%; }

div, span, p {
  user-select: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type="number"] {
  -moz-appearance: textfield; }

.fs-10 {
  font-size: 10px; }

.fs-12 {
  font-size: 12px; }

.fs-14 {
  font-size: 14px; }

.fs-16 {
  font-size: 16px; }

.fs-18 {
  font-size: 18px; }

.fs-20 {
  font-size: 20px; }

.fs-30 {
  font-size: 30px; }

.clr-r {
  color: red; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.bold {
  font-weight: bold; }

.mask56 {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.56);
  z-index: 99999;
  top: 0;
  left: 0; }

.bg-video {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.3; }

.page-body {
  height: 100%;
  width: 100%;
  opacity: 0; }

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center; }
  .vertical-center-modal .ivu-modal {
    top: 0; }

.ivu-modal-mask {
  background: rgba(55, 55, 55, 0.8); }

.ivu-modal-header-inner {
  font-size: 20px;
  font-weight: bold; }

.ivu-modal-body p {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  margin: 2px 0; }
  .ivu-modal-body p i {
    margin-right: 9px;
    position: relative;
    top: 3px; }

.fade-in {
  animation: fadeIn 1.5s;
  animation-fill-mode: forwards; }

.fade-out {
  animation: fadeOut 1.5s;
  animation-fill-mode: forwards; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.bg-fade-in {
  animation: bgFadeIn 1.5s;
  animation-fill-mode: forwards; }

.bg-fade-out {
  animation: bgFadeOut 1.5s;
  animation-fill-mode: forwards; }

@keyframes bgFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 0.3; } }
@keyframes bgFadeOut {
  from {
    opacity: 0.3; }
  to {
    opacity: 0; } }
.slideFromTop-enter-active, .slideFromTop-leave-active {
  transition: all 0.5s; }

.slideFromTop-enter, .slideFromTop-leave-to {
  height: 40%;
  opacity: 0; }

.fadeInOut-enter-active, .fadeInOut-leave-active {
  transition: opacity 5s; }

.fadeInOut-enter, .fadeInOut-leave-to {
  opacity: 0; }

html {
  background: rgba(64, 64, 80, 0.9); }

body {
  background: transparent; }

#index-body {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  color: #eeeeee; }
  #index-body .card-style {
    min-width: 300px;
    margin: 80px 50px 0 50px;
    font-size: 16px;
    flex-shrink: 0;
    background: transparent; }
    #index-body .card-style input {
      color: #eeeeee;
      background: rgba(238, 238, 238, 0.2); }
    #index-body .card-style .ans {
      font-weight: bold;
      margin: 0 5px;
      color: #fb5280; }
    #index-body .card-style p {
      display: flex;
      align-items: center;
      margin-bottom: 5px; }
