@import "lib/base";
html {
	background: rgba(70, 76, 91, 0.6);
}
body {
	background: transparent;
}
#index-body {
	background: transparent;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	align-content: flex-start;
	.card-style {
		min-width: 300px;
		margin: 80px 50px 0 50px;
		font-size: 16px;
		flex-shrink: 0;
		//opacity: 0.85;
		.ans {
			font-weight: bold;
			margin: 0 5px;
			color: $color-lr;
		}
		p {
			display: flex;
			align-items: center;
			margin-bottom: 5px;
		}
	}
}
