#index-body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  #index-body .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.3; }
