#index-body {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	//background-image: url(https://s1.ax1x.com/2020/07/10/Uu1FKI.jpg);
	//background-size: cover;
	//background-repeat: no-repeat;
	.bg-video {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -2;
		object-fit: cover;
		width: 100%;
		height: 100%;
		opacity: 0.3;
	}
}
